.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #434e5f;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}


.refresh button{
  cursor: pointer;
  font-family: 'Lobster', cursive;
  border: 1px solid;
  border-radius: 30px;
  background: #3b6b59;
  color: #3ca741;
  padding: .8rem 3rem;
  font-size: 2rem;
}
.refresh button:hover{
  background: #2c5043;
  color: #43e04b;
}
.refresh{
  width: 11.3%;
  margin: 30px auto;
  padding: 2.5rem 4.5rem;
}

footer {
  font-size: 3rem;
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Baloo Bhai 2', cursive;

}
